body{
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img{
	margin-bottom: 10px;
}

ol, ul{
	list-style: none;
}

.menu{
	background-color: #65B4CE;
	color:#fff;
	border: none;
}

.inline > h1,
.inline > h2,
.inline > h3,
.inline > h4{
	display: inline;
}
/*Classes Bootstrap customizadas -- Inicio*/

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;

}

.navbar-default .navbar-toggle{
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;

}

.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	text-shadow: 0 1px 1px #fff;
	font-weight: 500;
}

.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover{
	color: #fff;
	text-shadow: 0 1px 1px #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
	background-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}


#barracustom .navbar-collapse{
	padding-right: 0px;
}


.barracuston{
	min-height: 30px;
}

#barracustom .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
}

#barracustom .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;
}

#barracustom .navbar-brand{
	float: left;
	height: 5px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 5px;
}

.thumbnail{
	background-color: transparent;
}

/*Classes Bootstrap customizadas  -- Fim*/

.content-slide{

	padding-left: 42px;
	padding-right: 42px;
	padding-top: 15px;
    text-align: left;
	font-size: 18px;
	height: auto;
	width: 250px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.content-left{
	margin-left: auto;
	text-align: right;
}

.content-center{
	margin-left: auto;
	margin-right: auto;

}

.description{
	color: #65B4CE;
	text-shadow: 0 1px 1px #fff;
	font-weight: bold;
}

.footer{
	background-color:#79CBE3; /*#2196F3*/
	color: #fff;
}

.form-custom{
	width: 50%;

}

.btn{
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 10px;
}

.btn-custom{
	display:block;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 20px;

}

.sem-margin{
	margin-bottom: 0px;

}

.sem-padding{
	padding-right: 0px;
	padding-left: 0px;
}

.sem-border{
	box-shadow: 0 0px 0px rgba(0, 0, 0, .075);
	border: 0px;
}

.linha{
	border-top: 1px solid #dadad9;
	height: 10px;

}

.background-body{
	background: url('/home/zieg/Simulador-UTI/img/background.png');
}

.photo1{
	background-image: url('/home/zieg/Simulador-UTI/img/photo1.png'); /*no-repeat center center fixed; */
	height: 480px;

	/*Responvidade da imagem*/
/*   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;*/
   background-size: cover;
}

.photo5{
	background-image: url('/home/zieg/Simulador-UTI/img/photo5.png'); /*no-repeat center center fixed; */
	height: 480px;

	/*Responvidade da imagem*/
/*   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;*/
   background-size: cover;
}

.photo6{
	background-image: url('/home/zieg/Simulador-UTI/img/photo6.png'); /*no-repeat center center fixed; */
	height: 480px;

	/*Responvidade da imagem*/
/*   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;*/
   background-size: cover;
}


#footer ul {
	overflow:hidden;
}

#footer li {
	float:left;
}

.user{
	font-weight: normal;
}

li a .user{
	background: url('../img/icons/user.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}


.icon-dot{
	background: url('../img/icons/dot-bar.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-top: 5px;
	margin-left: -8px;
}

.social-networks {
	margin-bottom: 20px;
	margin-left: -40px;
}


.social-networks .facebook,
.social-networks .linkedin,
.social-networks .github{
	margin-right: 5px;
	width: 40px;
	height: 40px;

}


.social-networks .facebook{
	background:url('../img/icons/facebook.png');
	background-size: cover;
}
.social-networks .linkedin{
	background:url('../img/icons/linkedin_icon.png');
	background-size: cover;
	}

.social-networks .github{
	background:url('../img/icons/github.png');
	background-size: cover;
}

#footer .mailto a {
	color:#fff;
	background:url(../img/icons/icons.png) no-repeat 0 -715px;
	padding:5px 5px 5px 28px;
	}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height: 25px;
	}
.clearfix:before,.clearfix:after,.container:before,.container:after,.container:before,.container:after {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	}
.clearfix:after,.container:after,.container:after {
	clear:both;
	}
.clearfix,.container,.container {
	zoom:1;
	}



@media only screen and (min-width: 0px)
				   and (max-width: 1150px){
	/*For mobile*/
	.background-body{
		background: transparent;
	}
}






/*
a:link, a:active, a:visited{
	color: #fff;
	text-decoration: none;
}

Grid para layout de 960px

.linha{
	width: 90%;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}

.linha:after{
	content: "";
	clear: both;
	display: block;
}

.row div[class^="col-"] {
	 background: #fafafa;
	 border:1px solid #ccc;
}

[class*="col-"] {
    padding: 0 10px;
	float: left;
	width: 90%;
}

@media only screen and (min-width: 768px){

	 For Desktops
	.col-1  {width: 7.5%;}
	.col-2  {width: 15%;}
	.col-3  {width: 22.5%;}
	.col-4  {width: 30%;}
	.col-5  {width: 37.5%;}
	.col-6  {width: 45%;}
	.col-7  {width: 52.5%;}
	.col-8  {width: 60%;}
	.col-9  {width: 67.5%;}
	.col-10 {width: 75%;}
	.col-11 {width: 82.5%;}
	.col-12 {width: 90%;}
}

@media only screen and (min-width: 600px)
				   and (max-width: 768px){

	For Tablets
	.col-m-1  {width: 7.5%;}
	.col-m-2  {width: 15%;}
	.col-m-3  {width: 22.5%;}
	.col-m-4  {width: 30%;}
	.col-m-5  {width: 37.5%;}
	.col-m-6  {width: 45%;}
	.col-m-7  {width: 52.5%;}
	.col-m-8  {width: 60%;}
	.col-m-9  {width: 67.5%;}
	.col-m-10 {width: 75%;}
	.col-m-11 {width: 82.5%;}
	.col-m-12 {width: 90%;}

}


 Estilos e Classes Reutilizaveis

.sem-padding{
	padding: 0 !important;
}

.sem-margin{
	margin: o !important;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 15px, 0, 10px, 0;
}

ul li, ol li{
	margin-bottom: 5px;
}

ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}

ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 0;
}

ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}

a.botao, input.botao{
	background: #1f3c58;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	display: inline-block;
	border: none;
}
a.botao:hover, input.botao:hover{
	background: #315e8a;
}

img{
	width: 100%;
	height: auto;
}



Layout padrão do site

.header{
	background:#1f3c58;
}

.logo a{
	font-weight: 300;
	letter-spacing: -2px;
}

.logo a:hover{
	font-weight: 350;
	color: #f5f2f2;
	letter-spacing: -2px;
}

.conteudo-extra{
	background: #f1f2ea;
}

.footer{
	background: #006d75;
	color: #ebebeb;
	padding: 20px 0px;
	text-align: center;
	font-weight: 100;
}


.menu{
	text-transform: uppercase;
	text-align: right;
	margin-top: 30px;
}

.menu li a{
 	padding: 5px 10px;
 	border-radius: 3px;
}

.menu li a:hover{
 	background: #1f3c58;
 	color: #ebebeb;
}


.sidebar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li{
	padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px
}

.sidebar li:hover{
	background-color: #0099cc;
}

ul.noticias li{
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

ul.noticias li img{
	width: 70px;
	height: auto;
	margin-right: 10px;
	float: left;
}

ul.noticias li h4{
	margin: -2px 0 5px 0;
	font-weight: 500;
}

ul.noticias li p{
	margin: 5px 0;
	font-weight: 300;
}

ul.noticias li p a{
	font-weight: 500;
}


.contato label{
	display: block;
	font-size: 13px;
	font-weight: 300;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 96%;
}
.contato textarea{
	height: 150px;
}
.contato input.botao{
	width: auto;
}*/
